
@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Short+Stack&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@keyframes animacao{
    from{
        background-color: #000000;
        border-radius: 10%;
    }
    to{
        background-color: #babafc;
        border-radius: 50%;
    }
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to bottom, white, #babafc);
    margin: 0;
    
}
.header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:0;
}
.logo{
    padding: 10px;
    margin-left: 30px;
    font-size: 40px;
}
nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000000;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}
.nav_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    z-index: 1;
    
}
.nav_a{
    margin-left: 25px;
    color:white;
    padding:10px ;
    border-radius: 6px;
    text-decoration: none;
}

.nav_a:hover{
    background-color: rgba(92, 92, 92, 0.452);
    transition-duration: 0.2s;
}
.mobile_menu{
    display: none;
    cursor: pointer;
    margin-top: 12px;
}
.mobile_menu div{
    width: 32px;
    height: 2px;
    background: #ffffff ;
    margin: 8px;
    transition: 0.3s;
}

main .container{
    margin: auto;
    margin-top: 150px;
    background-image: url('../imagens/img_1.jpg');
    padding: 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px black ;
    width: 450px;
    height: 450px;
}
button{
    padding:10px;
    margin-top: 300px;
    margin-left: 132px;
    border-radius: 70px;
    border: 1px solid black;
    width: 200px;
    font-size: 17px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    z-index: 0;
    
}
button:hover{
    font-size: 20px ;
    padding: 15px;
    transition-duration: .2s;
    
}
.link_ref{
    margin-left: 350px;
}
.link_a{
    text-decoration: none;
}
.sobre_mim{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top:50px;  
    display: inline-block;
    padding: 10px;
    height: 400px;
    text-align: center;
   
}
.titulo{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 30px;
   margin-top: 40px;
}
div > h2{
    font-size: 30px;
}

#sobre_mim{
    
    padding-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#sobre_mim h3{
    margin-top: 13px;
    font-size: 23px;
}
.box_cc{
    text-align: center;
    background-color:#c2c2ec;
    display: inline-block;
    margin-left: 70px;
    margin-bottom: 20px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    
}
p{  
    font-size: 15px;
    margin-left: 78px;
    margin-top: 11px;
    width: 200px;
}

footer{
    background-color: #0e2730;
    color: white;
    padding: 10px;
    padding-top: 10px;
    margin: 0;
}
.div_footer{
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_img{
    padding-top: 20px ;
    height: 40px;
    animation: animacao 2s infinite delay iteration-count to fill-mode;
  
}
.footer_logo p{
    font-size: 60px;
    margin-top: 0px;
    margin: 0;
    
}
.div_footer p{
    margin: 0;
}
