
@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Short+Stack&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

*{
    margin: 0px;
}

body{
    background-image: linear-gradient(to bottom,#3E758A,#216d8b,#123542);
    
}
.header{
    display: flex;
    justify-content: space-between;
    padding-inline: 1.25rem ;
    padding-block: 1.25rem ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav_ul{
    display: flex;
    list-style: none;
    gap: 2rem;   
}
.nav_a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.nav_a:hover{
    color: #31b7ec;
    transition-duration: 0.2s;
}
.container{
    margin: auto;
    margin-top: 50px;
    background-image: url('../imagens/img_1.jpg');
    padding: 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px black ;
    width: 450px;
    height: 450px;
}
.container .div_logo{
    padding-top: 297px;
    text-align: center;
    font-family: "Caveat", cursive;
    font-style: 50px;
    color:rgb(0, 0, 0);
}
.link_ref{
    margin-left: 350px;
}
.link_a{
    text-decoration: none;
}
.sobre_mim{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top:50px;  
    display: inline-block;
    padding: 10px;
    height: 400px;
    text-align: center;
   
}
.titulo{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 30px;
   margin-top: 40px;
}
div > h2{
    margin-top: 10px;
}
.box_cc{
    text-align: center;
    background-color: #086488;
    display: inline-block;
    margin-left: 62px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px black;
    
}
p{  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-left: 78px;
    margin-top: 11px;
    width: 200px;
}



